.content-div {
  padding-top: 10px;
  height: 415px;
  /* max-height: 450px; */
  overflow-y: auto;
}
.time {
  margin: auto;
  width: 100px;
  text-align: center;
  font-size: 8px;
  color: #a9a9a9;
}