.input-div {
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
}
.text-input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.button {
  border: none;
  outline: none; 
  padding: 5px;
}
.button:hover {
  background-color: #6c6c6c;  
}
