.message {
  display: flex;
  margin: 10px 0px;
}

.profile {
  width: 25px;
  height: 25px;
  background-color: rgb(182, 182, 182);
  border-radius: 30px;
  margin: 0px 5px;
}

.content {
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  position: relative;
}

.op {
  align-items: center;
}

.op .content {
  color: black;
  background-color : #e2e2e2;
}

.my {
  justify-content: end;
  padding-right: 10px;
}

.my .content {
  color: white;
  background-color : #8f64ff;  
}