body {
  display: flex;
}
.profile {
  width: 25px;
  height: 25px;
  background-color: rgb(182, 182, 182);
  border-radius: 30px;
  margin: 0px 5px;
}

.inner-3 {
  position: relative;
  width: 300px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
}

/* header */
.inner-3 #header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.inner-3 #header #arrow {
  padding: 10px;
}

.inner-3 #header #info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.inner-3 #header #info #info-name {
  font-size: 13px;
  font-weight: bold;
}
.inner-3 #header #info #info-intr {
  font-size: 9px;
  color: #afafaf;
}
.inner-3 #header span {
  font-size: 18px;
}
.inner-3 #header #icon-phone {
  padding: 5px;
}
.inner-3 #header #face-talk {
  padding: 5px;
}

/* body */
.inner-3 #content-div {
  padding-top: 10px;
}
.inner-3 #content-div #time {
  margin: auto;
  width: 100px;
  text-align: center;
  font-size: 8px;
  color: #a9a9a9;
}
.inner-3 #content-div .chat {
  display: flex;
  margin: 10px 0px;
}


.inner-3 #content-div .chat.left {
  align-items: center;
}
.inner-3 #content-div .chat.right {
  justify-content: end;
  padding-right: 10px;
}

.inner-3 #content-div .chat .content{
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  position: relative;
}

.inner-3 #content-div .chat .content .like {
  font-size: 7px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5px;
  bottom: -5px;
  width: 20px;
  height: 12px;
  background-color: #e2e2e2;
  border-radius: 20px;
}
.inner-3 #content-div .chat .content .like span {
  font-size: 10px;
}

.inner-3 #content-div .chat.left .content{
  color: black;
  background-color : #e2e2e2;
}

.inner-3 #content-div .chat.right .content{
  color: rgb(255, 255, 255);
  background-color : #8f64ff;
}

/* input */
.inner-3 #input-div {
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
}

.inner-3 #input-div input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.inner-3 #input-div button {
  border: none;
  outline: none;
}
.inner-3 #input-div button:hover {
  background-color: #6c6c6c;
}