body {
  margin: 0;
}
.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  display: flex;
}
.header-back-button {
  width: 40px;
  text-align: center;
  align-content: center;
}
.header-room-count {
  width: 40px;
  text-align: center;
  align-content: center;
}
.header-room-title {
  flex: 1;
  text-align: center;
  align-content: center;
}
.header-reading-glass {
  margin: 10px;
}
.header-hamberget {
  margin: 10px;
}
img {
  width: 20px;
  height: 20px;
}
.noti {
  border-top: 1px solid #ccc;
  display: flex;
}
.noti-icon {
  width: 40px;
  margin: 10px;
}
.noti-content {
  flex: 1;
  align-content: center;
}
.noti-more {
  width: 40px;
  margin: 10px;
}
.body {
  background-color: #f0f0f0;
  flex: 1;
  overflow-y: auto;
}
.my-chat {
  display: flex;
}
.your-name {
  margin-left: 20px;
}
.message {
  background-color: #d0f0c0;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
